html, body {
	font-size: 16px;
}

.error {
	color: red;
	font-size: 14px; 
}

label {
	font-size: 18px;
}

.ml-10 {
	margin-left: 10px;
}

.show-post-container {
	padding-top: 20px;
}

.show-post-container .home-btn {
	margin-bottom: 15px;
}